<div class="header">
  <h4 class="header">BrewDog Beers List</h4>
</div>
<!--Nav bar search box to search beer by name-->
<nav class="navbar">
  <input class="searchbar" type="text" name="name" [(ngModel)]="name" (ngModelChange)="Search()"
    placeholder="Search by beer name">
</nav>
<div>
  <!--Table to display beer list-->
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Beer Name</th>
        <th>TagLine</th>
        <th>First Brewed</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let beer of beers | paginate: {itemsPerPage:10, currentPage:p};">

        <td><span><a [routerLink]="['/beer-details/'+beer.id]">{{beer.name}}</a></span></td>
        <td><span>{{beer.tagline}}</span></td>
        <td><span>{{beer.first_brewed}}</span></td>

      </tr>
    </tbody>
    <pagination-controls class = "pagination"(pageChange)="p = $event"></pagination-controls>
  </table>
</div>