<!-- Modal -->
<div class="modal fade" id="beerDetail" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Beer Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-9">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">{{ beer.name }}</h4>
                                    <p class="card-subtitle"><b>TagLine: </b> {{ beer.tagLine }} </p>
                                    <p class="card-text"><b>Description: </b> {{ beer.description }} </p>
                                    <p class="card-text"> <b>ABV:</b> {{ beer.abv }} </p>
                                </div> 
                            </div>   
                        </div>
                        <div class="col-3">
                            <img [src]="beer.imgUrl" class="card-img-top img-thumbnail float-right" [alt]="beer.name" [width]="200"/>
                        </div>
                    </div>                       
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>