<div class="modal-header">
    <h4 class="modal-title"> {{ beer?.name }} </h4>
    <button type="button" class="close" aria-label="Close" (click)="onModalClose()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container-fluid">
        <div class="row" *ngIf="beer">
            <div class="col-9">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">{{ beer.name }}</h4>
                        <p class="card-subtitle"> {{ beer.tagLine }} </p>
                        <p class="card-text"><b>Description: </b> {{ beer.description }} </p>
                        <p class="card-text"> <b>ABV:</b> {{ beer.abv }} </p>
                    </div>
                </div>   
            </div>
            <div class="col-3" *ngIf="beer.imgUrl">
                <img [src]="beer.imgUrl" class="card-img-top float-right" [alt]="beer.name" [width]="200"/>
            </div>
        </div>                       
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="onModalClose()">Close</button>
  </div>