<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />   
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />    
    <script src="https://kit.fontawesome.com/21038a3b8c.js" crossorigin="anonymous"></script>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />

    <style type="text/css">
        .clr {
            background-color: cadetblue;
            color: white;
            text-align: center;
        }
        .fas.disabled,
        .fas[disabled],
        .disabled > .fas,
        [disabled] > .fas {
            opacity: 0.5;
            cursor: not-allowed;
            pointer-events: none;
        }
        .hwidth {
            width: 80%;
        }

        .center {
            text-align: center;
        }

        .selected {
            background-color: #004b89;
            color: white;
            font-weight: bold;
            text-align: center;
        }


        td,
        th {
            border: 1px solid rgb(190, 190, 190);
            padding: 10px;
        }

        tr:nth-child(even) {
            background-color: beige;
        }

        th[scope="col"] {
            background-color: #696969;
            color: #fff;
        }

        th[scope="row"] {
            background-color: #d7d9f2;
        }

        caption {
            padding: 10px;
            caption-side: bottom;
        }

        table {
            border: 1px;
            width: 80%;
            border-collapse: collapse;
            border: 2px solid rgb(200, 200, 200);
            letter-spacing: 1px;
            font-family: sans-serif;
            font-size: .8rem;
        }

        .fl {
            background-color: #4CAF50;
            color: white;
        }        
       
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">               
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">                        
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">        
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
