<h1 data-test="heading">Beer Details</h1>
<div class="p-3 center" *ngIf = "beer" data-test="beerdetails">
    <div style="width: 18rem;">
        <img class="card-img-top" src="{{beer?.image_url}}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title" data-test="beername">{{beer?.name}}</h5>
            <h5 class="card-title" data-test="beerabv">{{beer?.abv}}</h5>
            <p class="card-text" data-test="beerdescription">{{beer?.description}}</p>
            <a href="#" class="btn btn-primary" (click)="goback()" data-test="gotolist">back to list</a>
        </div>
    </div>
</div>