<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <mat-form-field>
        <mat-label>Search beers</mat-label>
        <input matInput (keyup)="onKeyUp($event)" placeholder="Search beer by name..." #input>
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="beer-container mat-elevation-z8">
        <div class="beer-table-container">
          <table mat-table [dataSource]="beers">

            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>Name</th>
              <td mat-cell *matCellDef="let beer">
                <a [title]="'View details'" [routerLink]="['/beers', beer.id]">
                  {{ beer.name }}
                </a>
              </td>
            </ng-container>

            <ng-container matColumnDef="tagline">
              <th mat-header-cell *matHeaderCellDef>Tagline</th>
              <td mat-cell *matCellDef="let beer">{{ beer.tagline }}</td>
            </ng-container>

            <ng-container matColumnDef="first_brewed">
              <th mat-header-cell *matHeaderCellDef>First brewed</th>
              <td mat-cell *matCellDef="let beer">{{ beer.first_brewed }}</td>
            </ng-container>

            <ng-container matColumnDef="abv">
              <th mat-header-cell *matHeaderCellDef>Abv</th>
              <td mat-cell *matCellDef="let beer">{{ beer.abv }}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
          <mat-paginator [length]="325"
                         [pageIndex]="pageIndex"
                         [pageSize]="pageSize"
                         [pageSizeOptions]="[10, 20, 50, 100]"
                         [showFirstLastButtons]="true"
                         (page)="pageEvent = loadBeers($event)">
          </mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>
