/* You can add global styles to this file, and also import other style files */
.imageSize{
    width: 200px;
    height: 300px;
}
.header{
 text-align: center;
}
.btn{
    margin-left: 500px;
}
.right{
    text-align: right;
}