<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<!--Beer Details card to display the beer info-->
<body>
    <h2 class="header">Beer Details</h2>
    <div class="card">
        <img src={{data.image_url}} alt="beer_image" style="width:50%">
        <div class="container">
            <h4><b>Beer Name : {{data.name}}</b></h4>
            <p>ABV : {{data.abv}}</p>
            <p>Description : {{data.description}}</p>
        </div>
    </div>
</body>

</html>