@model BeerModel
@{   
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1> Beer Details</h1>
<div id="divBeerInfo">
    <table id="tblBeerInfo" class="table" border="1" width="80%" style="text-align:center" >
        <thead>
            <tr class="clr">               
                <th>Beer Name</th>
                <th>TagLine</th>
                <th>First_Brewed</th>
                <th>Abv</th>
                <th>Image</th>
            </tr>
        </thead>
        <tbody>
            <tr>                
                <td>
                    @Html.DisplayFor(modelItem => Model.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.TagLine)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.First_Brewed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Abv)
                </td>
                <td>
                    <img src=@Model.image_url
                         class="rounded-circle"
                         width="200" height="450"
                         asp-append-version="true" />                   
                    
                </td>
            </tr>

        </tbody>
    </table>
</div>

<a href="##" onClick="history.go(-1); return false;"> Return to Main Data</a>

<style type="text/css">
    .clr {
        background-color: cadetblue;
        color: white;
    }
</style>
@section Scripts
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}