@model IEnumerable<BeerModel>
@{ Layout = null; }
<h1> Favorite Beers</h1>
@using (Html.BeginForm())
{
    <table id="tblSearchBeer" class="table" border="1" width="80%" style="text-align:center">
        <thead>
            <tr class="clr">               
                <th>Beer Name</th>
                <th>TagLine</th>
                <th>First_Brewed</th>
                <th>Abv</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>                    
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TagLine)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.First_Brewed)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Abv)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @*@Html.ActionLink("Back to Beers", "Beer","Beer")*@
    <a href="##" onClick="history.go(-1); return false;"> Return to Main Data</a>
}
<style type="text/css">
    .clr {
        background-color: cadetblue;
        color: white;
    }
</style>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}