.bg-success {
    background-color: #d6ded8 !important;
    border-color: seashell;
    height: 387px;
}

.imageposition{
    margin: 13px 0px 38px 53px;
    width: 50%;
    height: 91%;
}

h1{
    font-family: Arial, Helvetica, sans-serif !important;
}