.container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  cursor: pointer;
  width: 20rem;
  height: 10rem;
}
.line{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.column{
  color: #aeaafa;
}