<div class="card bd-favourite-card">
    <div class="card-body">
        <h5 class="card-title">{{ beer.name }}</h5>
        <p class="card-text">
            {{ beer.tagLine }}
        </p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <span class="font-weight-light">First brewed:</span> {{ beer.firstBrewed }}
        </li>
        <li class="list-group-item">
            <span class="font-weight-light">ABV:</span> {{ beer.abv }}
        </li>
    </ul>
</div>