 

<div class="row"> 
  <div class="col">
    <form class="form-inline float-right">            
        <div class="form-group">
          <label for="Search"></label>
          <input name = "searchString" 
            [(ngModel)]="searchString"
            class="form-control"
            type="text"
            placeholder="Search by Beer name" 
            aria-label="Search">
        </div>
        <div class="form-group">
          <input name="Search" id="search-btn" class="btn btn-primary" type="button" value="Search" (click)="onSearch()">
        </div>
    </form>
  </div>
</div>
 
 <div class="row">
    <div class="col">
      <table class="table table-striped table-bordered">
        <thead class="thead-dark text-center">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Beer Name</th>
          <th scope="col">Tag Line</th>
          <th scope="col">First Brewed</th>
          <th scope="col">ABV</th>
          <th scope="col">Actions</th>
          <th scope="col">Is Favorite</th>          
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let beer of beers">
          <th scope="row" class="text-center"> {{ beer.id }}</th>
          <td>
            {{ beer.name }}
          </td>
          <td>{{ beer.tagline }}</td>
          <td class="text-center">{{ beer.first_brewed }}</td>
          <td class="text-center">{{ beer.abv }}</td>
          <td class="text-center">
            <button
              type="button"
              class="btn btn-primary btn-sm"
              title="will show top 25 search results"
              tooltip="will show top 25 search results"
              (click)="onView(beer.id)">
              View
            </button>
          </td>
          <td class="text-center">
              <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
              </label>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col text-right">
        <ngb-pagination
          [collectionSize]="totalBeers" 
          [(page)]="pageNumber"
          [pageSize]="pageSize"
          [maxSize]="3"
          (pageChange)="onPageChange()"
          [boundaryLinks] ="true"
          [directionLinks] = "true"
          class="d-flex justify-content-end">
        </ngb-pagination>
    </div>
  </div>
