<div class="container">
    <div ng-controller="TableCtrl">
        <div class="row">
            <div class="form-group form-inline">
                Search : <input type="text" class="form-control ml-2" name="searchString" placeholder="Search Beer" [(ngModel)]="searchString" autocomplete="off" (input)="onSearch($event.target.value)">
            </div>

        </div>
    </div>
    <div>
        <br>
    </div>
    <div>
        <table class="table table-striped ">
            <thead>
                <tr>
                    <th>Beer Name</th>
                    <th>Beer Tagline</th>
                    <th>First Brewed Date</th>
                    <th>Abv</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let beer of beers | filter:'name' : searchString | paginate: { itemsPerPage: 10, currentPage: p }">
                    <td (click)="goToBeer(beer)" style="color: green">{{ beer.name}}</td>
                    <td>{{ beer.tagline }}</td>
                    <td>{{ beer.first_brewed }}</td>
                    <td>{{ beer.abv }}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4 ">
                        <pagination-controls (pageChange)="p=$event"></pagination-controls>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>