<a class="list-group-item list-group-item-action" [routerLink]="[beer.id]">
    <div>
        <h4>{{ beer.name }}</h4>
        <p>{{ beer.tagLine }}</p>
        <p>{{ beer.firstBrewed }}, {{ beer.abv }}%</p>
        <button class="btn btn-primary btn-sm" (click)="onAddFavouriteClick()" *ngIf="isSignedIn && !isFavourite">Add to Favouries</button>
        <button class="btn btn-danger btn-sm" (click)="onDeleteFavouriteClick()" *ngIf="isSignedIn && isFavourite">Delete from Favouries</button>
    </div>
</a>