<div class="mat-elevation-z8">
  <table mat-table [dataSource]="beers">

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <!-- Tagline Column -->
    <ng-container matColumnDef="tagline">
      <th mat-header-cell *matHeaderCellDef>Tagline</th>
      <td mat-cell *matCellDef="let element">{{ element.tagline }}</td>
    </ng-container>

    <!-- First Brewed Column -->
    <ng-container matColumnDef="firstbrewed">
      <th mat-header-cell *matHeaderCellDef>First Brewed</th>
      <td mat-cell *matCellDef="let element">{{ element.firstb_rewed }}</td>
    </ng-container>

    <!-- Abv Column -->
    <ng-container matColumnDef="abv">
      <th mat-header-cell *matHeaderCellDef>Abv</th>
      <td mat-cell *matCellDef="let element">{{ element.abv }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>