<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Tagline</th>
      <th scope="col">First Date</th>
      <th scope="col">AbV</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let beer of beers">
      <td>
        <ngb-highlight [result]="beer.name"></ngb-highlight>
      </td>
      <td>
        <ngb-highlight [result]="beer.tagline"></ngb-highlight>
      </td>
      <td>
        <ngb-highlight [result]="beer.first_brewed"></ngb-highlight>
      </td>
      <td>
        <ngb-highlight [result]="beer.abv"></ngb-highlight>
      </td>
    </tr>
  </tbody>
</table>


<ngb-pagination class="d-flex justify-content-between p-2" [collectionSize]="collectionSize" [(page)]="page"
  [pageSize]="pageSize" (pageChange)="GetBeers(page)">
</ngb-pagination>