table {
    width: 100%;
    box-shadow: inset 2px 3px 8px #d7eaf0;
  }
  
  tr.beer-detail-row {
    height: 0;
  }
  
  .beer-row:not(.beer-expanded-row):hover {
    background: whitesmoke;
  }
  
  tr:not(.beer-expanded-row):active {
    background: #efefef;
  }
  
  td {
    border-bottom-width: 0;
  }
  
  .beer-detail {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-items: center;
    background-color: #e1e1e1;
    box-shadow: inset 2px 3px 8px #c1c1c1;
    border-radius: 8px;
  }
  img {
    padding: 10px;
    padding-left: 5%;
  }
  .h-spacer {
    flex: 1 1 auto;
    text-align: center;
    font-size: x-large;
    font-weight: bolder;
  }
  .img_div {
    margin-right: -20%;
  }
  
  .search {
    width: 300px;
  
    align-self: start;
    text-align: left;
  }
  
  th {
    font-size: medium;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .desc {
    font-size: small;
  }
  
  .mat-header-cell {
    font-size: large;
    font-family: 'Gill Sans';
    font-weight: bold;
    background-color: #c8d0d4;
  }
  
  td.mat-cell {
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
  }
  .nav,
  .mat-toolbar {
    background-color: black;
    color: white;
  }
  