<div class="nav-bar nav">
  <mat-toolbar data-test="toolbar">
    <mat-icon>home</mat-icon>

    <span class="h-spacer" data-test="title_name">BrewDog Beers</span>
    <span
      ><mat-form-field class="search">
        <input
          matInput
          type="text"
          (keyup)="doFilter($event.target.value)"
          placeholder="Search"
        /> </mat-form-field
    ></span>

    <mat-icon data-test="search">search</mat-icon>
  </mat-toolbar>
</div>
<div><br /></div>
<div class="mat-elevation-z8">
  <table
    mat-table
    [dataSource]="dataSource"
    multiTemplateDataRows
    matSort
    data-test="tableData"
  >
    <ng-container matColumnDef="name">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        data-test="nameheader"
      >
        Name
      </th>
      <td
        data-test="namedata"
        mat-cell
        *matCellDef="let beer"
        (click)="getBeerInfo(beer.id)"
      >
        {{ beer.name }}
      </td>
    </ng-container>

    <ng-container matColumnDef="tagLine">
      <th mat-header-cell *matHeaderCellDef data-test="taglineheader">
        Tag Line
      </th>
      <td
        data-test="taglinedata"
        mat-cell
        *matCellDef="let beer"
        (click)="getBeerInfo(beer.id)"
      >
        {{ beer.tagline }}
      </td>
    </ng-container>

    <ng-container matColumnDef="firstBrewed">
      <th mat-header-cell *matHeaderCellDef data-test="firstbrewedheader">
        First Brewed
      </th>
      <td
        data-test="firstbreweddata"
        mat-cell
        *matCellDef="let beer"
        (click)="getBeerInfo(beer.id)"
      >
        {{ beer.first_brewed }}
      </td>
    </ng-container>

    <ng-container matColumnDef="abv">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        data-test="abvheader"
      >
        ABV
      </th>
      <td
        mat-cell
        data-test="abvdata"
        *matCellDef="let beer"
        (click)="getBeerInfo(beer.id)"
      >
        {{ beer.abv }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr
      mat-row
      *matRowDef="let beer; columns: displayedColumns"
      class="beer-row"
    ></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[10]" showFirstLastButtons></mat-paginator>
</div>
