<div class="container mt-4" *ngIf="brewdogBeersList">
    <div class="form-group form-inline">
        Search by Name: <input class="form-control ml-2" type="text" name="searchTerm" [(ngModel)]="searchTerm"
            (ngModelChange)="onKey()" />
    </div>

    <app-grid [brewdogBeersList]='brewdogBeersList' [page]='page' [pageSize]='pageSize'></app-grid>
    
    <div class="d-flex justify-content-between p-2">
        <ngb-pagination [collectionSize]="brewdogBeersList.length" [(page)]="page" [pageSize]="pageSize">
        </ngb-pagination>
    </div>
</div>