<div style="margin-top: 10px;">
<form>
  <div class="form-group form-inline">
    Search by Name: <input class="form-control ml-2" type="text" [formControl]="filter" />
  </div>
</form>

<app-table-view [beers]='beers' [page]='page'></app-table-view>
<div class="d-flex justify-content-between p-2">
  <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
    (pageChange)="refreshCountries()">
  </ngb-pagination>
  <!-- 
  <select class="custom-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshCountries()">
    <option [ngValue]="10">10 items per page</option>
    <option [ngValue]="50">50 items per page</option>
    <option [ngValue]="100">100 items per page</option>
  </select> -->
</div>
</div>