<div *ngIf="beer" class="row bd-beer-details-container">
    <div class="col-7">
        <div class="card" >
            <div class="card-body">
                <h5 class="card-title">{{ beer.name }}</h5>
                <p class="card-text">
                    {{ beer.description }}
                </p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <span class="font-weight-light">ABV:</span> {{ beer.abv }}
                </li>
            </ul>
            <div class="card-body" *ngIf="isSignedIn">
                <a class="card-link bd-favourite-link" (click)="onAddFavouriteClick()" *ngIf="!isFavourite">Add to Favouries</a>
                <a class="card-link bd-favourite-link" (click)="onDeleteFavouriteClick()" *ngIf="isFavourite">Delete from Favouries</a>
            </div>
        </div>
    </div>
    <div class="col-auto" *ngIf="beer.imageUrl">
        <img class="img-responsive bd-beer-details-image" [src]="beer.imageUrl">
    </div>
</div>