<mat-form-field>
  <mat-label>Search by Beer Name </mat-label>
  <input matInput (keyup)="filterData($event.target.value)" #input>
</mat-form-field>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="listData">
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">
        <a href="javascript:void(0)" (click)='openPopup(element.id)'> {{element.name}} </a>
      </td>
    </ng-container>

    <!-- Tagline Column -->
    <ng-container matColumnDef="tagLine">
      <th mat-header-cell *matHeaderCellDef>Tagline</th>
      <td mat-cell *matCellDef="let element">{{ element.tagline }}</td>
    </ng-container>

    <!-- First Brewed Column -->
    <ng-container matColumnDef="firstBrewed">
      <th mat-header-cell *matHeaderCellDef>First Brewed</th>
      <td mat-cell *matCellDef="let element">{{ element.first_brewed }}</td>
    </ng-container>

    <!-- Abv Column -->
    <ng-container matColumnDef="abv">
      <th mat-header-cell *matHeaderCellDef>Abv</th>
      <td mat-cell *matCellDef="let element">{{ element.abv }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[10, 15]"
    showFirstLastButtons
  ></mat-paginator>
</div>
