<div class="px-5 pt-3">

  <form>
    <nav class="navbar navbar-light bg-light">
      <form class="form-inline">
        <input class="form-control" placeholder="search" type="text" (keyup)="searchTerm($event.target.value)">
      </form>
    </nav>
  </form>
  <div class="card">
    <div class="card-body">
      <table class="col-md-12" mat-table [dataSource]="beersDataSource">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef style="font-size: 13px;"><b>Name</b> </th>
          <td style="text-align: left;" mat-cell *matCellDef="let beer" [routerLink]="['/beers',beer.id]"> {{beer.name}}
          </td>
        </ng-container>
        <ng-container matColumnDef="tagline">
          <th mat-header-cell *matHeaderCellDef style="font-size: 13px;"><b>TAG LINE </b></th>
          <td style="text-align: left;" mat-cell *matCellDef="let beer"> {{beer.tagline}} </td>
        </ng-container>
        <ng-container matColumnDef="firstBrewed">
          <th mat-header-cell *matHeaderCellDef style="font-size: 13px;"><b> First Brewed</b></th>
          <td style="text-align: left;" mat-cell *matCellDef="let beer"> {{beer.first_brewed}} </td>
        </ng-container>
        <ng-container matColumnDef="abv">
          <th mat-header-cell *matHeaderCellDef style="font-size: 13px;"><b>ABV</b> </th>
          <td style="text-align: left;" mat-cell *matCellDef="let beer"> {{beer.abv}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns" style="height: 40px;"></tr>
        <tr mat-row *matRowDef="let beer; columns: displayedColumns;index as i" [routerLink]="['/beers',beer.id]"></tr>

      </table>
      <div *ngIf="beersDataSource.data.length===0" class="table-no-data-label">
        <p style="text-align: center;"><b>No results available</b></p>
      </div>

      <mat-paginator [pageSizeOptions]="[10]"></mat-paginator>

    </div>
  </div>
</div>