<h3 mat-dialog-title>Beer Information</h3>
<div mat-dialog-content>
  <mat-card>
    <img [src]="this.beerData?.image_url" class="img-align">
    <mat-card-content>
      <ul>
        <li> <strong>Name :</strong> {{this.beerData?.name}} </li>
        <li> <strong>Abv :</strong>  {{this.beerData?.abv}} </li>
        <li> <strong>Description :</strong>  {{this.beerData?.description}} </li>
      </ul>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="closeDialog()">Close</button>
    </mat-card-actions>

  </mat-card>
</div>
